body{
	padding: 0;
	margin:0;
}
div.header{
	height: 4em;
	border-bottom: 1px solid black;
}
ul{
	list-style-type: none;
}
li.nav_icons{
	display: inline;

}
img.nav_img{
	width:5em;
	height :auto;
	border:1px solid black;
	margin-right: 5px;


}
div.nav{
	position: absolute;
    right: 2em;
    top:0em;

}
div.logo{
	width: 10em;
	border: 1px solid black;
}
div.currentuser{
	position: absolute;
	top:4em;
	right: 10em;
	border-left: 2px solid black;
	height: 90vh;

}
img.profile_pic{
	border: 1px solid black;
	position: relative;
	top:.5em;
	width: 5em;
	height: 4em;
	margin-left: 1em;
}
h2{
	position: absolute;
	top:.5em;
	left: 5em;

}
div.feed{
	width: 40vw;
	height: 50vh;
	border: 2px solid black;
	overflow-y: scroll;
}
div.comment{
	position: absolute;
	top:10em;
	left: 1em;
}
div.sub{
	position: relative;
	top:1em;
}
div.search_user{
	border-top:1px solid black;
	width: 19vw;
	position: absolute;
	bottom: 2em;
	right: 0;
}
.search{
	position: relative;
	top:.5em;
	left: 1.5em;
}
div.users{
	position: absolute;
	top:10em;
	right:3.5em;
}
img{
	width:2em;
	height: 2em;
}
h4{
	position: relative;

}
a{
	text-decoration: none;
}
img.logo{
	width: 100%;
	height: 100%;
}