body{
  padding:0;
  margin:0;
}
.header{
  width:100%;
  border-bottom: 1px solid black;
  height:4em;

}
.logo{
  width:200px;
  height:50px;
  position:fixed;
  top:.5em;
  left:1em; 

}

ul{
	list-style-type: none;
}
li{
	padding-bottom: 1em;
}
div.box{
	width: 40%;
	margin: auto;
	border:2px solid black;
	margin-top: 5em;

}


#login_label{
	position: absolute;
	top:6em;
	left: 35%;

}

h2#signup_label{
	position: absolute;
	top:6em;
	left:50%;
	margin-left: 5em;
}
.link{
	margin-left: 2px;
	width: 49%;
	height: 50px;
}
.log_fields{
	margin-left: 10em;
	

}
.sign_fields{
	margin-left: 10em;
}